*{
  margin: 0px;
  padding: 0;
}

header .logo img{
  max-width: 120px;
}
header{
  border: 2px solid #000;
  margin: 20px;
}
header nav a{
  display: block;
  background: #000;
  text-align: center;
  height: 18px;
  padding: 5px;
  margin: 10px;
  color:#fff;
  text-decoration: none;
}

/**** header-uno ****/
.header-uno{
  display: flex;
  background: #eee;
  padding: 20px;
}
.header-uno .logo{
  margin: 0 20px;
}

.header-uno nav{
  flex-grow: 1;
  display: flex;
  align-items: center;

}

.header-uno nav a{
  flex-grow: 1;
}




/**** header-dos ****/
.header-dos{
  background: #eee;
  padding: 20px;
  text-align: center;
}
.header-dos .logo{
  margin: 20px;
}

.header-dos nav{
  display: flex;
  justify-content: center;
}


/**** header-cuatro ****/
.header-cuatro{
  display: flex;
  align-items: center;
  padding: 20px;
}
.header-cuatro nav{
  margin-left: auto;
}

/**** header-cinco ****/
.header-cinco{
  display: flex;
  align-items: center;
  padding: 20px;
}
.header-cinco .logo{
  margin-left: auto;
}

/**** header-seis ****/
.header-seis{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.header-seis nav{
  display: flex;
}

.header-seis .logo{
  margin-left: auto;
}


/**************************/

section{
  margin: 20px;
  border: 2px solid #ffdd00;
  padding: 20px;
}


/********* cuerpo-uno ******/

.cuerpo-uno{
  display: flex;
}
.cuerpo-uno .texto{
  width: 50%;
  padding: 20px;
  text-align: center;
}
.cuerpo-uno .imagen{
  width: 50%;
}

.cuerpo-uno .imagen img{
  width: 100%;
}

/********* cuerpo-dos ******/

.cuerpo-dos{
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.cuerpo-dos .imagen img{
  width: 100%;
}

.cuerpo-dos .texto{
  padding: 10px;
  font-size: 0.9em;
}


/********* cuerpo-tres ******/

.cuerpo-tres{
  padding: 20px;
}

.cuerpo-tres .imagenes{
  display: flex;
}

.cuerpo-tres .imagen img{
  width: 100%;
}
.cuerpo-tres .imagen{
  margin: 10px;
}

.cuerpo-tres .texto{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}



/**************************/


/****** Position Fixed ******/
.pos-fixed-uno{
  padding: 10px 20px;
  background: #ffdd00;
  border: 4px solid #000;
  position: fixed;
  right:0;
  bottom: 0;
  z-index: 1;
}

.pos-fixed-dos{
  padding: 10px 20px;
  background: #000; color:#ffdd00;
  border: 4px solid #ffdd00;
  position: absolute;
  left: 0; bottom: 100px;
  z-index: 2; /* Profundidad */
}

/****** Position Relative / Absolute ******/
.pos-relative{
  height: 200px;
  position: relative;
}
.pos-absolute-uno{
  padding: 10px 20px;
  background: #ffdd00;
  
  position: absolute;
  left: 0; top: -20px;
}

.pos-absolute-dos{
  padding: 10px 20px;
  background: #000; color:#ddff00;
  border: 4px solid #ddff00;
  position: absolute;
  right: 0; top: 0;
}
.pos-absolute-tres{
  padding: 10px 20px;
  background: #000; color:#ddff00;
  border: 4px solid #ddff00;
  position: absolute;
  left: 0; bottom: 0;
}



/*****************************/

/****** FONDOS fixed *********/
.bg-fixed{
  height: 300px;  
  background-image: url(img/fondo.jpg);
  background-position: top center; /* opcional */
  background-attachment:fixed;
  background-size: cover;
  
  position: relative;
}

.bg-fixed2{
  height: 220px;  
  background-image: url(img/fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
}


.perro{
  position: absolute;
  left: 30px;
  bottom: -64px;
}
.avion{
  position: absolute;
  right: 20px;
  top: -40px;
}











